<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="login" method="post">
        <label for="">Username</label>
        <input type="text" placeholder="Enter your name" name="user">
        <label for="">Password</label>
        <input type="password" placeholder="Password" name="pwd">
        <button type="submit">Submit</button>
    </form>
    

</body>
</html>